<h1>Select either Videogames or Systems to get started managing your collection!</h1>

<p> <a href="videogames/new">Add a new Videogame</a> <a href="/systems/new">Add a new System</a>
<p> <a href="/videogames/edit">Edit Videogames</a> <a href="/systems/edit">Edit Systems</a>
